.homepage{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}
.cardPlace{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
@media(max-width:426px){
    .homepage{
        width: 770px;
        /* background-color: red; */
    }
}
@media(max-width:376px){
    .homepage{
        width: 770px;
        /* background-color: red; */
    }
}
@media(max-width:321px){
    .homepage{
        width: 770px;
        /* background-color: red; */
    }
}