.menulist{
 width: 100%;
 height: auto;
 /* background-color: aqua;    */
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 justify-content: center;
}

@media(max-width:426px){
    .menulist{
        width: 770px;
        /* background-color: red; */
    }
}
@media(max-width:376px){
    .menulist{
        width: 770px;
        /* background-color: red; */
    }
}
@media(max-width:321px){
    .menulist{
        width: 770px;
        /* background-color: red; */
    }
}