.menulist{
 width: 100%;
 height: auto;
 /* background-color: aqua;    */
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 justify-content: center;
}
.nofood{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4424E !important;
    font-weight: 700;
    font-size: 2rem;
}
@media(max-width:426px){
    .menulist{
        width: 770px;
        /* background-color: red; */
    }
}
@media(max-width:376px){
    .menulist{
        width: 770px;
        /* background-color: red; */
    }
}
@media(max-width:321px){
    .menulist{
        width: 770px;
        /* background-color: red; */
    }
}